@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* common */
body {
    position: relative;
    z-index: -3;
}
.inner {
    display: block;
    width: 960px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
.content_title {
    display: block;
    width: 960px;
    text-align: center;
    color: #2B2B2B;
    margin: 0 auto;
}
.content_title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 51px;
    font-weight: bold;
}
.content_title hr {
    width: 40px;
    border: none;
    border-top: 1px #333333 solid;
    margin: 24px auto 0;
}
.content_title p {
    font-size: 16px;
    line-height: 22px;
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 24px;
}
@media screen and (max-width: 992px) {
    .content_title {
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 768px) {
    .content_title h1 {
        font-size: 28px;
    }
    .content_title p {
        font-size: 14px;
        line-height: 25px;
    }
}
/* header */
#header {
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 900;
    margin-top: 40px;
}
#header .inner {
    display: block;
    width: 100%;
    position: relative;
    z-index: 901;
}
#header .header_contents {
    display: block;
    width: 960px;
    height: auto;
    position: absolute;
    left: calc((100% - 960px)*0.5);
    z-index: 902;
}
a#header_logo {
    display: block;
    text-decoration: none;
    font-size: 36px;
    line-height: 50px;
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    margin-top: 19px;
}
#header #nav_toggle {
    position: absolute;
    display: block;
    width: 32px;
    height: 19px;
    top: 22px;
    right: 0;
    cursor: pointer;
}
#header #nav_toggle div {
    width: 100%;
    position: relative;
}
#header #nav_toggle div span {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background: #FFFFFF;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#header #nav_toggle div span:nth-child(1) {
    top: 0;
}
#header #nav_toggle div span:nth-child(2) {
    top: 9px;
}
#header #nav_toggle div span:nth-child(3) {
    top: 18px;
}
@media screen and (max-width: 992px) {
    #header .header_contents {
        width: calc(100% - 40px);
        left: 0;
    }
    a#header_logo {
        margin-top: 19px;
        margin-left: 20px;
    }
}
/* global nav */
#header #global_nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    background-color: #FFFFFF;
    opacity: 0.9;
    text-align: center;
    z-index: 10;
}
#header #global_nav ul {
    list-style: none;
}
#header #global_nav ul li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #A0A0A0;
}
#header #global_nav ul li a {
    text-decoration: none;
    color: #2B2B2B;
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 79px;
}

/* Fixed */
#header.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 80px;
    background: #EDEDED;
/*fadein*/
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}
#header.fixed a#header_logo {
    color: #A0A0A0;
}
#header.fixed #nav_toggle {
    top: 30px;
}
#header.fixed #nav_toggle div span {
    background: #A0A0A0;
}
/* Open */
/* #nav_toggle 切り替えアニメーション */
#header.open #nav_toggle span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
}
#header.open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}
#header.open #nav_toggle span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
/* #global_nav スライドアニメーション */
/*
#header.open #global_nav {
    -moz-transform: translateY(1000px);
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    visibility: visible;
}
*/
/* top */
#top {
    width: 100%;
    height: 620px;
    background: url(../img/header.png);
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}
#top .inner {
    width: 100%;
    height: 620px;
    backdrop-filter: brightness(80%);
}
#top_logo {
    display: block;
    width: 258px;
    height: auto;
    position: absolute;
    top: 240px;
    left: calc((100% - 258px)*0.5);
}
#top_logo h1 {
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
}
#top_logo p {
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

/* concept */
#concept {
    display: block;
    width: 100%;
    background: #FFFFFF;
    position: relative;
}
#concept .inner {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 553px;
}
#concept .concept_img {
    display: block;
    width: 960px;
    height: auto;
    position: absolute;
    top: 298px;
    left: calc((100% - 960px)*0.5);
    z-index: 2;
}
#concept .concept_under {
    display: block;
    width: 100%;
    height: 240px;
    background-color: #EDEDED;
    position: absolute;
    top: 560px;
    z-index: 1;
}
/* work */
#work {
    display: block;
    width: 100%;
    background: #FFFFFF;
}
#work .inner {
    padding-top: 80px;
    padding-bottom: 100px;
}
#work .work_contents {
    display: block;
    width: 100%;
    max-width: 960px;
    margin-top: 40px;
}
#work .work_contents::after {
    content: "";
    clear: both;
    display: block;
}
#work .work_content {
    display: block;
    width: 420px;
}
#work .work_content_dis h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
    margin-top: 16px;
}
#work .work_content_dis p {
    font-size: 16px;
    line-height: 28px;
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2B2B2B;
}
#work .work_contents .work_content:nth-child(odd) {
    float: left;
    margin-bottom: 80px;
}
#work .work_contents .work_content:nth-child(even) {
    float: right;
    margin-top: 120px;
}
/* florist */
#florist {
    display: block;
    width: 100%;
    background: #FFFFFF;
    position: relative;
    z-index: -2;
    padding-top: 80px;
    padding-bottom: 40px;
}
#florist .florist_contents {
    display: block;
    width: 960px;
    margin: 40px auto 0;
    letter-spacing: -1em; /* 文字間を詰める */
    white-space: nowrap; /* 自動で折り返ししない */
}
#florist .florist_content {
    display: inline-block;
    width: 300px;
    margin-right: 30px;
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
    vertical-align: top; /* 高さ合わせ*/
}
#florist .florist_content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
    margin-top: 12px;
}
#florist .florist_content p {
    font-size: 16px;
    line-height: 22px;
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2B2B2B;
}
#florist .florist_top {
    display: block;
    width: 100%;
    height: 374px;
    background-color: #EDEDED;
    position: absolute;
    top: 0;
    z-index: -1;
}
/* shop info */
#shop_info {
    display: block;
    width: 100%;
    background: #FFFFFF;
}
#shop_info .inner{
    padding: 80px 0;
}
#shop_info .shop_info_contents {
    display: block;
    width: 960px;
    margin: 40px auto;
    color: #2B2B2B;
}
#shop_info .shop_info_contents::after {
    content: "";
    clear: both;
    display: block;
}
#shop_info .shop_info_contents img {
    display: block;
    width: 480px;
    float: left;
}
#shop_info .shop_info_contents dl {
    display: block;
    width: 432px;
    float: right;
    font-size: 16px;
    line-height: 22px;
}
#shop_info .shop_info_contents dl dt {
    float: left;
    width: 80px;
    margin-left: 40px;
}
#shop_info .shop_info_contents dl dd {
    width: 311px;
    margin-left: 120px;
    margin-bottom: 12px;
    border-left: 1px solid #A0A0A0;
    padding-left: 16px;
}
/* contact */
#contact {
    display: block;
    width: 100%;
    background: url(../img/contact_us.png);
    background-size: cover;
}
#contact .inner {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: rgba(255,255,255,0.5);
}
a#contact_btn {
    display: block;
    width: 360px;
    margin: 40px auto 0;
    text-decoration: none;
    background: #FFFFFF;
    color: #2B2B2B;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}
a#contact_btn span {
    display: inline-block;
    width: 30px;
    height: 20px;
    border-radius: 2px;
    border: solid 1px currentColor;
    position: relative;
    margin-right: 24px;
    vertical-align: text-top;
}
a#contact_btn span::before {
    content: "";
    position: absolute;
    left: 15px;
    top: -6px;
    width: 1px;
    height: 20px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
a#contact_btn span::after {
    content: "";
    position: absolute;
    left: 14px;
    top: -6px;
    width: 1px;
    height: 20px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* footer */
#footer {
    height: 40px;
    text-align: center;
}
#footer p {
    font-size: 16px;
    line-height: 22px;
    color: #2B2B2B;
    font-family: "Myriad Pro", "myriad-pro", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 12px;
}