@charset "utf-8";
@import url(./ress.css);

/* base */
html {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.46;
    letter-spacing: 0;
}
body {
    font-family: myriad-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.33rem;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

/* common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.inner, .wrapper {
    width: 100%;
    max-width: 960px;
}
.wrapper {
    padding: 80px 0 100px;
}
.wrapper p {
    margin-bottom: 40px;
}
h1, h2 {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
}
h2 {
    font-size: 0.5rem;
    line-height: 1.67;
}
p {
    color: #2B2B2B;
}
.section_title {
    font-size: 0.75rem;
}
.section_title::after {
    display: block;
    content: '';
    width: 40px;
    height: 1px;
    background-color: #333;
    margin: 0.5rem auto 1.5rem;
}
.logo {
    font-size: 0.75rem;
    line-height: 1.0;
    text-decoration: none;
    color: white;
}
.toggle {
    cursor: pointer;
    width: 48px;
    aspect-ratio: 1;
    position: relative;
}
.toggle span {
    display: block;
    width: 32px;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 8px;
}
.toggle span:nth-of-type(1) {
    top: 16px;
}
.toggle span:nth-of-type(2) {
    top: 24px;
}
.toggle span:nth-of-type(3) {
    top: 32px;
}
/* Material Icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* header */
header {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    position: fixed;
}
header .inner {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

/* top */
.top {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    background-image: url(../img/header.png);
    background-size: cover;
    color: white;
}
.top .inner {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .title {
    line-height: 1.0;
    text-align: center;
    letter-spacing: 0;
}
.top .inner .title p {
    font-size: 2.5rem;
    line-height: 1.0;
    color: white;
}
.top .inner .title span {
    font-size: 0.33rem;
    line-height: 1.0;
}
.top .inner .title span::before, .top .inner .title span::after {
    display: inline-block;
    content: '';
    width: 0.25rem;
    height: 2px;
    font-size: 0;
    background-color: white;
    vertical-align: middle;
    margin: 0 8px;
}

/* concept */
.concept {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.concept::before {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 240px;
    background-color: #EDEDED;
    z-index: -1;
}
.concept .wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* work */
.work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.work .list .item {
    width: 43.75%;
    text-align: left;
    margin-top: 120px;
    margin-bottom: 80px;
}
.work .list .item:nth-of-type(even) {
    margin-right: auto;
    float: right;
}
.work .list .item:nth-of-type(odd) {
    margin-left: auto;
    float: left;
}
.work .list .item:nth-of-type(1) {
    margin-top: 0;
}
.work .list .item:nth-of-type(3) {
    margin-top: 0;
    margin-bottom: 0;
}
.work .list .item:nth-of-type(4) {
    margin-top: 0;
    margin-bottom: 0;
}
.work .list .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.work .list .item .content {
    margin-top: 0.33rem;
}
.work .list .item p {
    margin-bottom: 0;
}

/* florist */
.florist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    position: relative;
}
.florist::before {
    content: '';
    width: 100%;
    height: 374px;
    background-color: #EDEDED;
    position: absolute;
    z-index: -1;
}
.florist .wrapper {
    padding-bottom: 40px;
}
.florist .wrapper .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: left;
}
.florist .wrapper .list .item p {
    margin-bottom: 0;
}

/* info */
.info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.info .wrapper  {
    padding-bottom: 120px;
}
.info .wrapper .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}
.info .wrapper .container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.info .wrapper .container dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.25rem;
    column-gap: 0.33rem;
    text-align: left;
    padding: 0.67rem 0.833rem;
    color: #2B2B2B;
}
.info .wrapper .container dl dt {
    border-right: 1px solid #A0A0A0;

}

/* contact */
.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-image: url(../img/contact_us.png);
    background-size: cover;
}
.contact .wrapper .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 80px;
    background-color: white;
    border: 1px solid #A0A0A0;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.42rem;
    line-height: 0.5rem;
    color: #2B2B2B;
}
.btn span {
    color: #707070;
}
.btn:hover {
    color:white;
    background-color: #A0A0A0;
}
.btn:hover span {
    color: white;
}

/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
